.slider{
    z-index: -1;
    width: 100%;
    height: 47.8vw;
}.slider>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.populaires{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 0 9.8vw ;
}
.populaires>h1{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.7vw;
    margin: 0;
}
.populaires>p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 0.8vw;
    margin: 1vw 0;
}
.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #b32225 transparent #b32225 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cardProduct{
    width: 19vw;
    height: 28.5vw;
    justify-self: center;
}
.cardProduct>.top{
    display: block;
    position: relative;
    width: 100%;
    height: 80%;
    border-radius: 0.5vw;
    background-color: #b32225;
}
.top>.fav{
    position:absolute ;
    right: 0%;
    top: 0px;
}
.top>img{
    width: 100%;
    height: 100%;
    border-radius: 0.5vw;
}
.cardProduct>.bot{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bot>.title{
    font-family: 'Syne', sans-serif;
    font-weight:600;
    margin: 0.6vw 0 0.3vw;
    font-size: 1.35vw;
}
.bot>.price{
    font-family: 'Syne', sans-serif;
    font-weight:600;
    margin: 0%;
    font-size: 0.93vw;
}
.populaires>.btn{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 0.8vw;
    margin: 1vw 0;
    background-color: #0b0b0b;
    color: #f1f1f1;
    width: 9.3vw;
    height: 2vw;
    border-style: none;
    
}
.pagination{
    display: flex;
    margin: auto;
}

.page-item{
    font-family: 'Inter', sans-serif;
    list-style: none;
    padding: 10px;
    border: #0b0b0b solid  1px;
}
.page-link {
    text-decoration: none;
    list-style: none;
    color: #0b0b0b;
}
  
.page-link:hover {
    color: #b32225;
}
.page-item:hover{
    border-color: #b32225;
}
.active{
    background-color: #b32225;
}
.active>.page-link{
    color: #f1f1f1;
}
.products {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }